%%
%% 标准错误记录器, 开发环境
%%
%% 启动
%% erl -boot start_clean
%%
%% 配置
%% [{kernel,
%%   [{error_logger,{file, "logs/error.log" }}]}].
%%
%% SASL, 生产环境
%%
%% 启动 erl -boot start_sasl
%%
%% 监督者报告, 监督者检测到子进程异常终止后生成.
%% 进度报告, 监督者启动子进程(worker 进程/下级监督者)时生成.
%% 错误报告, 进程在异常终止时生成.
%% 崩溃报告, 由 proc_lib 库启动的进程崩溃时生成.
%%
%% 报告浏览工具 rb
%% rb:help().
%% rb:start().
%% rb:list().
%% rb:show().
%%

% [{kernel,
%  [{error_logger,{file, "logs/debug.log" }}]}].

[{sasl, [
  {sasl_error_logger, false},
  %% 指定存储二进制日志的目录
  {error_logger_mf_dir, "logs"},
  %% 指定每个日志文件的最大大小
  {error_logger_mf_maxbytes, 10485760}, % 10 MB
  %% 指定生成日志文件的最大数量
  {error_logger_mf_maxfiles, 10}
]}].
